body{
padding-top: 9rem;	
}

table {
	border-collapse: collapse;
	width: 50%;
	margin: 0 auto;
}
b

th, td {
	text-align: center;
	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
	background-color: black;
	color: white;
}


